mention_name: "slan"
slack_token: <slack bot token>
default_responses:
  - "default response1"
  - "default response2"
plugins:
  - plugin: memolist
    channels:
      - "*"
    users:
      - "*"
  - plugin: ping
    channels:
      - "*"
    users:
      - "*"
    responses:
      - pong
      - gnop
  - plugin: calendar
    subcommand: "calendar"
    channels:
      - "random"
    token_file: "secrets/token.json"
    secret_file: "secrets/client_secret.json"
    exclude:
      - "Foo"
    schedule:
      channel: "random"
      cron:
        - "0 50 9 * * 1-5"
    - plugin: lunch
      channels:
        - "random"
      token_file: "secrets/token.json"
      secret_file: "secrets/client_secret.json"
      sheet_id: <sheet_id>
      ranges:
        - "A2:A"
        - "B2:B"