mention_name: "slan"
slack_token: <slack bot token>
plugins:
  - plugin: memolist
    channels:
      - "*"
    users:
      - "*"
  - plugin: ping
    channels:
      - "*"
    users:
      - "*"
    responses:
      - pong
      - gnop